<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Personal website of krig / Kristoffer Gronlund">
    <meta name="author" content="Kristoffer Gronlund">
    <title>{{ .Title}}</title>
    <link rel="stylesheet" href="/css/krigs.css">
    <link rel="shortcut icon" href="/favicon.ico">
  </head>
  <body>
    <header>
      <div id="omega">
        <h1><a href="{{.Site.BaseURL}}" title="krig">&#9675;</a></h1>
      </div>
    </header>
    <div id="container">
