<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Personal website of krig / Kristoffer Gronlund">
    <meta name="author" content="Kristoffer Gronlund">
    <title>{{ .Title}} - {{ .Site.Title }}</title>
    <link rel="stylesheet" href="/css/krigs.css">
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
  </head>
  <body>
    <div id="alpha">
      <div id="omega">
        <h1><a href="{{.Site.BaseURL}}" title="kri.gs">&#9675;</a></h1>
      </div>
    </div>
    <div id="container">
