body {
  font-size: 18px;
}

body, caption, th, td, input, textarea, select, option, legend, fieldset, h1, h2, h3, h4, h5, h6 {
  font-size-adjust: 0.5;
}

#container {
  font-size: 1em;
  /* equivalent to 16px */
  line-height: 1.25;
  /* equivalent to 20px */
}

@media (min-width: 43.75em) {
  #container {
    font-size: 1em;
    /* equivalent to 16px */
    line-height: 1.375;
    /* equivalent to 22px */
  }
}

h1 {
  font-size: 2em;
  /* 2x body copy size = 32px */
  line-height: 1.25;
  /* 45px / 36px */
}

@media (min-width: 43.75em) {
  h1 {
    font-size: 2.5em;
    /* 2.5x body copy size = 40px */
    line-height: 1.125;
  }
}

@media (min-width: 56.25em) {
  h1 {
    font-size: 3em;
    /* 3x body copy size = 48px */
    line-height: 1.05;
    /* keep to a multiple of the 20px line height and something more appropriate for display headings */
  }
}

h2 {
  font-size: 1.625em;
  /* 1.625x body copy size = 26px */
  line-height: 1.15384615;
  /* 30px / 26px */
}

@media (min-width: 43.75em) {
  h2 {
    font-size: 2em;
    /* 2x body copy size = 32px */
    line-height: 1.25;
  }
}

@media (min-width: 56.25em) {
  h2 {
    font-size: 2.25em;
    /* 2.25x body copy size = 36px */
    line-height: 1.25;
  }
}

h3 {
  font-size: 1.375em;
  /* 1.375x body copy size = 22px */
  line-height: 1.13636364;
  /* 25px / 22px */
}

@media (min-width: 43.75em) {
  h3 {
    font-size: 1.5em;
    /* 1.5x body copy size = 24px */
    line-height: 1.25;
  }
}

@media (min-width: 56.25em) {
  h3 {
    font-size: 1.75em;
    /* 1.75x body copy size = 28px */
    line-height: 1.25;
  }
}

h4 {
  font-size: 1.125em;
  /* 1.125x body copy size = 18px */
  line-height: 1.11111111;
}

@media (min-width: 43.75em) {
  h4 {
    line-height: 1.22222222;
    /* (22px / 18px */
  }
}

blockquote {
  font-size: 1.25em;
  /* 20px / 16px */
  line-height: 1.25;
  /* 25px / 20px */
}

@media (min-width: 43.75em) {
  blockquote {
    font-size: 1.5em;
    /* 24px / 16px = */
    line-height: 1.45833333;
    /* 35px / 24px */
  }
}

body {
    padding: 0px;
    margin: 0px;
    background: #F5F5F5;
    color: #434244;
    font-family: sans-serif;
}

header {
    position: absolute;
    top: 0px;
    background: #ecf0f1;
    margin-top: 0px;
    padding-top: 0px;
    width: 100%;
    /*background-image: radial-gradient( circle 919px at 1.7% 6.1%,  rgba(41,58,76,1) 0%, rgba(40,171,226,1) 100.2% );*/
}

#omega {
    width: 592px;
    padding-left: 4px;
    padding-right: 4px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

#omega h1 {
    /*font-family: 'Inconsolata', monospace;
    font-size: 6em;*/
}

#container {
    margin-top: 15rem;
    padding-top: 0px;
    width: 100%;
}

#pw-outer-container {
    margin-top: 0.5rem;
    padding-top: 0px;
    width: 100%;
}

#body-text {
    width: 592px;
    padding-left: 4px;
    padding-right: 4px;
    margin-left: auto;
    margin-right: auto;
    text-align: justify;
    hyphens: auto;
}

#omega h1 {
    margin-top: 6rem;
    line-height: 1.8rem;
}

#omega a {
    color: #999;

}

#omega a:hover {
    color: #2f2f2f;
    border-bottom: none;
}

h2 {
    margin-top: 1rem;
    line-height: 1.8em;
}

.post h1 {
    font-size: 1.2em;
    color: #2f2f2f;
}

a {
    color: #6D214F;
    text-decoration: none;
}
a:active  {
    color: #6D214F;
    border-bottom: 1px dashed #ccc;
}
a:visited {
    color: #B33771;
}
a:hover {
    color: #1B9CFC;      
    border-bottom: 1px solid #ccc;
}

.parahead {
    margin-left: 1em;
    color: #222;
}

.postdate {
    margin-top: -0.6em;
    margin-bottom: 2em;
    font-size: 0.9em;
    padding-left: 1em;
    color: #a8a7b3;
    border-top: 1px solid #ddd;
}

pre {
    font-family: monospace;
    font-size: 0.8em;
    line-height: 1.2em;
    margin-top: 2em;
    margin-left: 1.2em;
    padding-left: 1em;
    border-left: 1px solid #dfdfdf;
}

code {
    font-family: monospace;
    font-size: 0.8em;
}

@media screen and (max-width: 500px) {
    header {
        width: 100%;
    }
    
    #omega {
        width: 282px;
    }
    #body-text {
        width: 282px;
    }
    pre {
        margin-left: 0rem;
    }
    body {
        font-size: 14px;
    }
}


@media screen and (min-width: 501px) and (max-width: 620px) {
    header {
        width: 100%;
    }
    
    #omega {
        width: 352px;
    }
    #body-text {
        width: 352px;
    }
    pre {
        margin-left: 0rem;
    }
}

@media screen and (min-width: 1200px) {
    header {
        width: 100%;
    }

    #omega {
        width: 800px;
    }
    #body-text {
        width: 800px;
    }
}

.centered {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.fourohfour {
    font-size: 128px;
    color: #bcbcbc;
    text-align: center;
}

.pull-right {
    float: right;
    padding: 0.5em;
}

.pull-left {
    float: left;
    padding: 0.5em;
}

.quote blockquote {
    color: #666;
}

.quote blockquote:before {
    content:open-quote;
    letter-spacing:0em;
}

.quote blockquote:after {
    content:close-quote;
    margin-left:0em;
}

.quote .quotesource {
    margin: 10px 0 0;
    position: relative;
    padding-right: 4em;
    color: #999999;
    text-align: right;
}

.quote .quotesource:before {
    content:"\2014\00A0";
}

form {
    display: block;
    margin-top: 0em;
}

.form-group {
    margin-bottom: 5px;
}

.form-group small {
    font-size: 0.6em;
    text-align: center;
    width: 100%;
    display: inline-block;
    font-family: monospace;
}

.pw-container {
    position: relative;
    padding: 45px 15px;
    margin: 0 -15px -15px;
    border-color: #ddd;
    border-style: solid;
    border-width: 1px;
    border-radius: 6px;
}

.pw-container:after {
    position: absolute;
    top: 15px;
    left: 15px;
    font-size: 0.8em;
    color: #f9690e;
    content: "\2234";
}

.form-control {
    display: block;
    width: 100%;
    height: 34px;
    margin-left: -4px;
    padding: 0px 4px;
    line-height: 1.2em;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

.muted {
    color: #999;
}

.postlist {
    list-style: none;
    font-size: 1em;
}

.postlist {
    padding: 0px;
}

.postlist .entry {
    display: inline-block;
    width: 100%;
    padding: 4px;
}

.postlist .date {
    font-size: 0.9em;
    color: #a8a7b3;
}

.postlist .date-right {
    float: right;
    display: table-cell;
    vertical-align: middle;
}
